body {
  background-image: url("heather_background.JPG");
  background-size: 100%;
}

.option_button {
   border: 1px outset blue;
   height:200px;
   width:110px;
   cursor:pointer;
}

.option_button:hover {
   color:white;
}
