body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/98/Hippo_at_dawn.jpg");
    background-color: lightBlue
}

.option_button {
   border: 1px outset blue;
   background-color: lightBlue;
   height:50px;
   width:50px;
   cursor:pointer;
}

.option_button:hover {
   background-color: blue;
   color:white;
}
